<div class="container">
  <h1 class='text-center'>Contact Us</h1>
  <div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-primary text-white"><i class="fa fa-envelope"></i> Contact us.
                </div>
                <div class="card-body">
                    <form (ngSubmit)="processForm()">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="name" aria-describedby="emailHelp" placeholder="Enter name" [(ngModel)]="name" required minlength="3" #nameInput="ngModel">                            
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="email" required email #emailInput="ngModel">                            
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea class="form-control" name="message" rows="6" [(ngModel)]="message" placeholder="Enter message" required #messageInput="ngModel"></textarea>                            
                        </div>
                        <div class="mx-auto">
                        <button type="submit" [disabled]="nameInput.invalid || emailInput.invalid || messageInput.invalid" class="btn btn-primary text-right">Submit</button></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="card bg-light mb-3">
                <div class="card-header bg-success text-white text-uppercase"><i class="fa fa-home"></i> Address</div>
                <div class="card-body">
                    <p>Fake Street 123</p>
                    <p>58000 CHERNOVTSY</p>
                    <p>Ukraine</p>
                    <p>Email : email@example.com</p>
                    <p>Tel. +33 12 56 11 51 84</p>

                </div>

            </div>
        </div>
    </div>
</div>
</div>
