/* Card style */

.card {
    border: 1px solid black;
}
.card-img-top {
    height: 200px;
}

.card-text {
    height: 50px;
}

hr {
    border: 1px solid black;
}

/* btn style */
.btn {
    user-select: auto;
}
