<div class="container">
    <div class="row">
        <div class='col-md-8 offset-2'>
            <div class="card" >
                <img src="{{post.img}}" class="card-img-top" alt="{{ post.title}}">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <hr>
                    <p class="card-text">{{post.body}}</p>
                    <p class="card-footer">
                        <button class="btn btn-default bg-dark" (click)='onBack()'>
                            Back
                        </button>
                        <a 
                            [routerLink]="['/posts', post.id-1]" 
                            *ngIf="post.id > 1">
                            <i class="fa fa-angle-left fa-5x" aria-hidden="true"></i>
                        </a>
                        <a 
                            [routerLink]="['/posts', post.id+1]" 
                            *ngIf="post.id < 100">
                            <i class="fa fa-angle-right fa-5x" aria-hidden="true"></i>
                        </a>
                    </p>
                </div>
            </div>
            <br>
            <div class="col-sm-12 col-xs-12">
                <div class="comments-post">
    
                    <div class="single-item-title"></div>
                    <div class="row">
                        <ul class="comment-list">
    
                            <!-- comment item -->
                            <li class="comment" *ngFor='let c of comments'>
                                <div class="comment-user-image">
                                    <img src="../assets/images/avatar.jpg">
                                </div>
                                <div class="comment-info">
                                    <div class="row">
                                        <div class="col"><h4 class="author"><a>{{ c.name }}</a></h4></div>
                                        <div class="col"><p class="line"></p></div>
                                        <div class="col"><h4 class="author"><a>{{ c.email }}</a></h4></div>
                                    </div>
                                    <p>{{ c.body }}</p>
                                </div>
                            </li>
                            <!-- comment item -->                  
    
                        </ul>
                    </div>
    
                </div>
                <!-- comments-post -->
            </div>
    
            <div class="col-sm-12 col-xs-12">
                <div class="comment-respond">
                    <h4>Add Comment</h4>
                    <form #form="ngForm">
                            <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control" name="name" [(ngModel)]="comment.name" placeholder="Name"
                                            required minlength="3" >
                                    </div>
                                    <div class="col">
                                        <input type="email" class="form-control" name="email" [(ngModel)]="comment.email" placeholder="Email" 
                                            required email>
                                    </div>
                                </div>
                        <br>
                        <div class="form-group">
                            <p class="comment-form-comment">
                                <textarea name="comment" rows="6" class="form-control" placeholder="Text" [(ngModel)]="comment.body" aria-required="true"
                                    required minlength="3" ></textarea>
                            </p>                        
                        </div>  
                        <div class="form-group">
                            <p class="form-submit">
                                <button (click)="commentSend(comment); form.reset()" class="btn btn-secondary">Send</button> 
                            </p>	
                        </div>         
                    </form>       
                </div>
            </div>
        </div>        
    </div>
</div>