/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
  }
  html, body {
    height: 100%;
  }

  .content {
    min-height: 100%;
    margin-top: -56px;
    margin-bottom: -229px;
    padding-top: 80px;
    padding-bottom: 20px;
    background: #e6e6e6;
    font-family: 'Times New Roman', Times, serif;
  }

  .content:after {
    content: "";
    display: block;
    height: 230px;
  }
  
  input.ng-touched.ng-invalid {border:solid red 2px;}
  input.ng-touched.ng-valid {border:solid green 2px;}
  
  textarea.ng-touched.ng-invalid {border:solid red 2px;}
  textarea.ng-touched.ng-valid {border:solid green 2px;}